*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     list-style: none;
}
body{
    background-color: rgb(243, 246, 248);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    color: #80808063;
 text-decoration: none;

}
button,#bg{
 color: white;
 background-color: rgb(79, 214, 255);
  border: none;
}
.btn1,#bg{
    border-radius: 50px;
    padding: 8px 20px;
}
.btn1{
    padding: 15px 40px;
}
.btn1 a,.partie2 button a{
    color: white;
}
h2{
    font-size: 2.8rem;
    line-height: 80px;
}

/* ///////////////////////////// */
header{
    background-color: white;
   padding-top: 40PX;
 height: 86vh;
 margin-bottom: 15%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 10%;
 
}
.nav-left{
    display: flex;
    justify-content: space-between;
width: 45%;
}
nav ul{
    display: flex;
    justify-content: space-around; 
    align-items: start;
    width: 70%;
    min-width: 250px;
   
}
nav ul li a:hover{
    color: black; 
    transition: 0.5s;
}

.nav-right{
display: flex;
  align-items: center;
 justify-content: space-between;
gap: 50px;
}
.partie1{
display: grid;
grid-template-columns: 55% 45%; 
 margin-left: 10%;
 height: 70vh;

}
.partie1-left{
    display: flex;
    align-items: center;
}
.partie1-left h1{
    font-size: clamp(34px, 6vw, 86px);
}
.partie1-left p {
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 20px;
}
.partie1-right{
    display: flex;
    align-items: center;
  width: 700PX;
}
.partie1-right img{
object-fit: contain;
width: 100%;

}
.partie2{
    margin: 0PX auto;
    width: 80%;
border-radius: 8px;
  

}
.partie2-container{
    background: url(./url-shortening-api-master/images/bg-shorten-desktop.svg) center/cover;
    background-color: rgb(26 22 126 / 64%);
   border-radius: 8px;
   padding: 4%;
   width: 100%;
   gap: 40px;
display: flex;
width: 100%;
}
.partie2 input{
    padding: 12px;
    outline: none;
    border-radius: 8px;
    width: 80%;
} 

.partie2 button{
    border-radius: 7px;
    width: 20%;
}

.centre{
    text-align: center;
    margin-bottom: 80px;
    
}
.centre p {
    font-size: 1.3rem;
   
}
section img{
    top: -30px;
    position: absolute;
    height: 60px;
    padding: 10px;
    background-color: rgb(15, 15, 82);
    border-radius: 50px;   
}
.section-container{
position: relative;
display: flex;
align-items: center;
margin: 0 auto;
justify-content: space-between;
max-width: 1200px;
padding: 0 45px;
margin-bottom: 150px;
}
.section-container::after{
    position: absolute;
    content: "";
    border: 2px solid rgb(79, 214, 255);
    width: 80%;
    top: 150px;
    z-index: -1;
}
section p{
color: #8080807e;
line-height: 20px;
}
h3{
font-size: 1.5rem;
margin: 10px 0 15px 0;
}
.module1,.module2,.module3{
 position: relative;
background-color: rgb(255, 255, 255);
 padding: 50px 25px;
border-radius: 7px;
    margin-bottom: 50px;
    width: 30%;
}
.module2{
  transform: translateY(50px);
}
.module3{
transform: translateY(100px);
}
.section2{
    background: url(./url-shortening-api-master/images/bg-boost-desktop.svg) center/cover;
    background-color: rgb(26 22 126 / 64%);
    padding: 3%;
    text-align: center;
}
.section2 h2{
    color: white;
}
footer{
    background-color: rgb(23, 22, 22);
    color: whitesmoke;
}
#logo{
color: red;
}
.footer-container{
display: grid;
grid-template-columns: 30% 15% 15% 15% 25% ;
max-width: 1200px;
margin: 0 auto;
padding: 70PX 45px;

}
footer ul{
    display: flex;
   margin-top: 20px;
    flex-direction: column;
    gap: 10px;
    color: gray;
    
}
footer li:hover{
    transition: 0.5s;
    color: white;
    cursor: pointer;
}
.footer-icones{
    display: flex;
font-size: 20px;
    justify-content: space-between;
    width: 70%;
margin-left: 30%;
}
@media screen and (max-width: 1300px) {
    .partie1-left p{
         font-size: 1.3rem;
    }
    .partie1 img{
        width: 75%;
    }
}
@media screen and (max-width: 1000px){
.partie1{
    grid-template-columns: 45% 55%; 
     text-align: center;
}
.partie1 h1{
    font-size: clamp(5px, 8vw, 39px);
  
}
.partie1-left p {
font-size: 0.9rem;
        }
}
@media screen and (max-width: 733px) {
    nav ul,.nav-right{
        display: none;
    }
    .partie1{
        display: flex;
        flex-direction: column-reverse;
            justify-content: center;
     align-items: center;
      gap: 50px;
       margin: 0 auto;
 }
.partie1 h1{
font-size: clamp(5px, 8vw, 55px);
    }
 .partie1-right,.partie1-left{
 width: 80%;
}
.partie1 img,.partie1-left{
display: flex;
align-items: center;
justify-content: center;

width: 100%;

}
}